<div class="card card-body mx-auto" style="width: 100%;">
    <h3 class="text-center card-header">Contact-Us</h3>
    <form action="/contact" method="post">
    <div class="form-group mt-2">
    <label for="name">E-mail</label>
    <input type="text" class="form-control" name="email" placeholder="Enter your Email..." required>
    </div>
    <div class="form-group mt-2">
    <label for="message">Message</label>
    <textarea name="message" required placeholder="Enter your message..." class="form-control" id="message"></textarea>
    </div>
        <button class="btn  btn-dark btn-block mt-3" type="submit" style="width: 100%;">Submit</button>
    </form>
</div>